<!-- app/views/lipsum/results.html.erb -->

<p>[Generated <%= @user_input_number %> <%= @type %>s of Lorem Ipsum below.]</p>
<p><%=@output%></p>

<p><%= link_to 'Back to Lorem Lipsum Form', 'lipsum/new' %></p>
<p><%= link_to 'Back to Home', '/' %></p>
