<div class="container-fluid">
  <div class="row new-row-1">
    <div class="col-sm-1 new-col-1">
    </div>
    <div class="col-sm-10 new-col-2">
      <h1>Drag and drop your items and plan your trip ♪</h1>
    </div>
  </div>

  <div class="row new-row-2">
    <div class="col-sm-1 new-col-1">
    </div>
    <div class="col-sm-5 new-col-2">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day 1</a></li>
        <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day 2</a></li>
        <li role="presentation"><a href="#day3" aria-controls="day3" role="tab" data-toggle="tab">Day 3</a></li>
        <li role="presentation"><a href="#day4" aria-controls="day4" role="tab" data-toggle="tab">Day 4</a></li>
      </ul>

      <%= form_for(@trip) do |f| %>
        <div class="tab-content" id="droppable">
          <div role="tabpanel" class="tab-pane active" id="day1">
            <div class="scheduler-container">
              <div class="scheduler"></div>
            </div>
          </div>
        </div>
        <div class="planner-save-btn">
          <%= f.submit('Save', class: 'btn btn-default') %>
        </div>
      <% end %>
      <!-- <div id="remove-btn">
        <%= link_to('Save', new_trip_planner_path, method: :post, class: 'btn btn-default') %>
      </div> -->
    </div>

    <div class="col-sm-4 new-col-3">
      <div class="itenarary-btn pull-right">
        <%= link_to('ITENARARY ▶︎', itenarary_trip_planners_path, class: 'btn btn-default') %>
      </div>
      <h2>Your checked items</h2>
      <ul class="checked-items" id="sortable">
        <% @venues.each do |venue| %>
          <li class="new-item item" id='venue-<%=venue.id%>'  data-id="<%= venue.id %>" data-type='venue'>
            <div id="remove-btn">
              <%= link_to('X', remove_venue_trip_planners_path(venue_id: venue.id), method: :post, class: 'btn btn-danger') %>
            </div>
            <img class="new-item-img img-rounded" src=<%= venue.image%> />
            <div class="new-text-block" id="text-block">
              <h1 class="new-first-line"><%= venue.name%></h1>
              <h3 class="new-second-line"><%= venue.address%></h3>
            </div>
          </li>
        <% end %>
        <% @events.each do |event| %>
          <li class="new-item item" id='event-<%=event.id%>' data-id="<%= event.id %>" data-type='event'>
            <div id="remove-btn">
              <%= link_to('X', remove_event_trip_planners_path(event_id: event.id), method: :post, class: 'btn btn-danger') %>
            </div>
            <img class="new-item-img img-rounded" src=<%= event.image%> />
            <div class="new-text-block"　id="text-block">
              <h1 class="new-first-line"><%= event.title%></h1>
              <h3 class="new-second-line"><%= event.location%></h3>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
