<div class="container-fluid">
  <div class="row show-row-1">
    <div class="col-sm-2 show-col-1">
    </div>
    <div class="col-sm-10 show-col-2">
    <h1>Your search result for <%= params[:city] %></h1>
  </div>
  <div class="row show-row-2">
    <div class="col-sm-2 show-col-1">
    </div>
    <div class="col-sm-8 show-col-2">
      <div class="planner-btn pull-right">
        <%= link_to('PLAN TRIP ▶︎', new_trip_planner_path, class: 'btn btn-default') %>
      </div>
      <!-- <div class="luggage pull-right">
        <%= link_to(image_tag('luggage_icon.png', id: 'luggage'), new_trip_planner_path) %>
      </div> -->

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Venues</a></li>
        <li role="presentation"><a  href="#2" aria-controls="2" role="tab" data-toggle="tab">Events</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="1" >
          <% @venues.each do |venue| %>
            <div class="show-item item">
              <%= image_tag(venue.image, class: "show-item-img img-rounded", id: "show-img-venue") %>
              <div class="show-text-block">
                <h2 class="show-first-line"><%= venue.name%></h2>
                <h3 class="show-second-line"><%= venue.address%></h3>
                <h4 class="show-third-line"><%= venue.category%></h4>
              </div>
              <div class="add-btn">
                <% if session[:cart]['venues'].include?(venue.id.to_s) %>
                <%= link_to('Remove', remove_venue_trip_planners_path(venue_id: venue.id), method: :post, class: 'btn btn-danger') %>
                <% else %>
                <%= link_to('Add', add_venue_trip_planners_path(venue_id: venue.id), method: :post, class: 'btn btn-success') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="2">
          <% @events.each do |event| %>
            <div class="show-item item">
              <%= image_tag(event.image, class: "show-item-img img-rounded", id: "show-img-event") %>
              <div class="show-text-block">
                <h2 class="show-first-line"><%= event.title%></h2>
                <h3 class="show-second-line"><%= event.location%></h3>
                <h4 class="show-third-line"><%= event.date[0..-10]%></h4>
              </div>
              <div class="add-btn">
                <% if session[:cart]['events'].include?(event.id.to_s) %>
                <%= link_to('Remove', remove_event_trip_planners_path(event_id: event.id), method: :post, class: 'btn btn-danger') %>
                <% else %>
                <%= link_to('Add', add_event_trip_planners_path(event_id: event.id), method: :post, class: 'btn btn-success') %>
                <% end%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
